
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(red, rgba(255, 136, 0, 0.493), blue, alpha);
}


.head{
display: flex;
justify-content: center;
font-size: 30px;
color: salmon;
}

.code {

display: flex;
flex-direction: column;
align-items: center;
color: tan;

}

.key {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: tan;
    
    }


    .which {
  display: flex;
flex-direction: column;
align-items: center;
color: tan;
        
        }
    
        


